@use '../../styles/typography';
@use '../../styles/colors';
@use '../../styles/media';



$HEIGHT: 100%;

.users__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: colors.$BACKGROUND_COLOR;
    width: 1024px;
    margin: auto;
}

// .users__header {
//     margin: 140px 0px 50px 0px;
// }

.header__title {
    margin-top: 140px;
    text-align: center;
}

.users__cards {
    width: 904px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 282px 282px 282px;
    grid-template-rows: 254px;
    row-gap: 29px;
    column-gap: 29px;
    justify-content: center;
    align-items: center;
    text-align: center;
    // overflow: hidden;
    // overflow-y: auto;
}

.users__button {
    margin-top: 50px;
}

@media screen and (min-width: 2560px) {
    .users__container {
        width: 1170px;

    }
    .users__cards {
        width: 904px;
        // min-height:537px;
        max-height: 538px;
        overflow: hidden;
        overflow-y: auto;
    }
}

@media screen and (min-width: media.$LAPTOP) {
    .users__container {
        width: 1024px;

    }

    .users__cards {
        width: 904px;
        // min-height:537px;
        max-height: 538px;
        overflow: hidden;
        overflow-y: auto;
    }

}

@media screen and (min-width: media.$TABLET) {
    .users__container {
        width: 768px;
    }
    .users__cards{
        width: 704px;
        min-height:794px;
        max-height: 794px;
        grid-template-columns: 344px 344px;
        grid-template-rows: 254px 254px 254px;
        column-gap: 16px;
        row-gap: 16px;
        margin-top: 50px;
        overflow: hidden;
        overflow-y: auto;
    }
}

@media screen and (min-width: media.$MOBILE_M) {
    .users__container {
        width: 328px;

    }

    .header__title {
        width: 328px;
    }

    .users__cards{
        width: 328px;
        min-height: 1642px;
        // overflow: hidden;
        // overflow-y: scroll;
        // overflow-x: visible;
        grid-template-columns: 328px;
        grid-template-rows: 254px;
        column-gap: 16px;
    }
}
