@use '../../styles/typography';
@use '../../styles/media';

$CARD_WIDTH: 282px;
$CARD_HEIGHT: 254px;


.card__container {
    width: 282px;
    height: 254px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: "none";
    @extend %body;
    background-color: #fff;
    border-radius: 10px;
    
}



.card__avatar {
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin: "auto";
    margin-top: 0;
    margin-bottom: 20px;
    border-radius: 80px;
    background: url('../../images/photo-cover.svg');
    background-size: contain;
    outline: none;
    border: 0.3px solid gray;
}

// @mixin card__tooltip-hover {
//     display: flex;
//     flex-wrap: wrap;
//     position: absolute;
// }
// .card__tooltip {
//     padding: 3px 16px;
//     display: none;
//     background-color: black;
//     color: white;
//     border-radius: 4px;
//     text-align: center;
//     // z-index: 100;
//     // opacity: 1;
//     @extend %body;

//     &:hover {
//         @include card__tooltip-hover();
//     }
// }

@media screen and (max-width: media.$LAPTOP) {
    .card__container {
        width: $CARD_WIDTH;
        height: $CARD_HEIGHT;
    }
}

@media screen and (max-width: media.$TABLET) {
    .card__container {
        width: 344px;
        height: $CARD_HEIGHT;
    }
    
}

@media screen and (max-width: media.$MOBILE_M) {
    .card__container {
        width: 328px;
        height: $CARD_HEIGHT;
    }

    .card__content {
    }

    .card__title {
        // margin-top: 0px;
    }
}
