@use '../../styles/typography';
@use '../../styles/media';

.header {
    width: 1024px;
    margin: auto;
    background-color: white;
}

.container {
    // max-width: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.container_buttons {
    width: 210px;
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 4px;
    margin-left: 60px;
}


@media screen and (max-width: 2560px) {
    .header {
        width: 1170px;
    }
}

@media screen and (max-width: media.$LAPTOP) {
    .header {
        width: 1024px;
    }
}

@media screen and (max-width: media.$TABLET) {
    .header {
        width: 768px;
    }

    .container {
        width: 768px;
    }

    .container_buttons {
        width: 210px;
        margin-right: 32px;
        display: flex;
        justify-content: space-between;
    }

    .logo {
        margin-left: 32px;
    }
}

@media screen and (max-width: media.$MOBILE_L) {
    .header {
        width: 360px;
    }
    .container {
        width: 100%;
        justify-content: space-between;
    }
    .logo {
        margin-left: 16px;
    }
    .container_buttons {
        width: 210px;
        margin-right: 15px;
        display: flex;
        justify-content: space-between;
    }
}