@use '../../styles/typography';
@use '../../styles/colors';
@use '../../styles/media';



.register__container {
    width: 1024px;
    margin: auto;
    background-color: colors.$BACKGROUND_COLOR;
}

.container__header {
    padding-top: 140px;
    padding-bottom: 50px;
}

.header__h1 {
    text-align: center;
}

.register__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    margin: auto;
}

.register__radio{
    display: 'flex';
    justify-content: flex-start;

}

.register__button {
    margin-top: 10px;
    margin-bottom: 100px;

}

@media screen and (max-width: 2560px) {
    .register__container {
        width: 1170px;
    }
}

@media screen and (max-width: media.$LAPTOP) {
    .register__container {
        width: 1024px;
    }

}

@media screen and (max-width: media.$TABLET) {
    .register__container {
        width: 768px;
    }
}

@media screen and (max-width: media.$MOBILE_M) {
    .register__container {
        width: 360px;
    }
    .register__form {
        width: 320px;
    }
}